*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  align-items: center;
}

.jeuDE{
  border: 1px solid gray;
  padding: 20px;
  width: 350px;

  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.jeuDE img{
  width: 200px;
  align-self: center;
}
.jeuDE h1{
  align-self: center;
}

.jeuDE p{
  color: green;
  font-weight: bold;
  border: 3px solid;
  padding: 10px;
  border-radius: 15px;
}

.jeuDE button{
  padding: 10px;
  font-size: 1.3em;
  border-radius: 20px;
}

.jeuDE button:hover{
  background-color: lightgreen;
}